[submodule "ADD"]
	path = ADD
	url = https://github.com/luc444s/atomic-driven-development.git
[submodule "apps/web"]
	path = apps/web
	url = https://github.com/luc444s/systutor-dashboard-shell.git
[submodule "systutor-installer"]
	path = systutor-installer
	url = https://github.com/luc444s/systutor-installer.git
[submodule "vendor/systutor-core"]
	path = vendor/systutor-core
	url = https://github.com/luc444s/systutor-core.git
[submodule "vendor/systutor-shell"]
	path = vendor/systutor-shell
	url = https://github.com/luc444s/systutor-shell.git
[submodule "vendor/systutor-themes"]
	path = vendor/systutor-themes
	url = https://github.com/luc444s/systutor-themes.git
[submodule "plugins/crm"]
	path = plugins/crm
	url = https://github.com/luc444s/systutor-crm.git
[submodule "plugins/productos"]
	path = plugins/productos
	url = https://github.com/luc444s/systutor-productos.git
[submodule "plugins/stock"]
	path = plugins/stock
	url = https://github.com/luc444s/systutor-stock.git
[submodule "plugins/commerce"]
	path = plugins/commerce
	url = https://github.com/luc444s/systutor-compras.git
[submodule "plugins/ventas"]
	path = plugins/ventas
	url = https://github.com/luc444s/systutor-ventas.git
